In [1]:
import requests
import re
import json
from pandas.io.json import json_normalize
import pandas as pd
import os
import glob
from tqdm import tqdm
import editdistance
import urllib.request

In [5]:
os.chdir("C://Users//Ruben//Documents//GitHub//TheForeign//SCC//output-data")
df_npp = pd.read_csv('npp_timespans.csv', sep = ';', header = 0)

In [6]:
df_npp

     npp    sy    ey                                               ppns
0   algh  1828  1914                             832337900+OR+400374129
1   nvdd  1870  1914                                          83249562X
2   tijd  1846  1858                   400383764+OR+832688045)&coll=ddd
3   arnc  1815  1848  400337789+OR+400946564+OR+400997894+OR+4009979...
4   nesc  1815  1914                             830850090+OR+400915472
5   roni  1878  1914                                          832564818
6   leco  1815  1914                             852115210+OR+832989185
7   prov  1845  1914                             833050788+OR+398543062
8   prda  1823  1869                            8398540756+OR+833050346
9   nroc  1844  1914                                          832495182
10  roco  1815  1867                401028984+OR+852536267+OR+852536836
11  mico  1816  1914                400383799+OR+852121741+OR+832996645
12  ophc  1815  1869                                          844104698
13  dzhg  1853  1869                                          832866024
14  tico  1869  1914                             376311770+OR+833066226
15  brdc  1815  1870                400337452+OR+852175035+OR+421095903
16  leyc  1758  1868                84377455X+OR+84377164X+OR+83245222X
17  delc  1861  1914                376312912+OR+400337797+OR+85216792X
18  hagc  1883  1914   398541485+OR+398541477+OR+832923869+OR+832402826
19  prnb  1853  1914                             833050672+OR+398831475
20  stan  1872  1899                                          832667536

In [9]:
os.chdir("C://Users//Ruben//Documents//Scriptie//Data//pages_year")
for i in range(2,20):
    npp = df_npp.npp[i]
    sy = int(df_npp.sy[i])
    ey = int(df_npp.ey[i])
    ppns = str(df_npp.ppns[i])
    
    range_npp = range(sy,ey-1,20)
    
    for year in range_npp:
        
        url = 'https://www.delpher.nl/nl/kranten/results?query=&page=1&sortfield=datedesc&cql%5B%5D=(date+_gte_+%2201-01-' + str(year) + '%22)&cql%5B%5D=(date+_lte_+%2231-12-' + str(year) + '%22)&cql%5B%5D=ppn+any+(' + ppns +  ')&coll=dddtitel'
        r = requests.post(url = url)
        t = str(r.text)
        
        if 'Geen kranten gevonden' in t:
            continue
        else:
            url = 'http://imageviewer.kb.nl/ImagingService/imagingService?id=ddd:' + t[t.index('mpeg21') - 10:t.index(':mpeg21')] + ':mpeg21:p001:image'
            filename = str(npp) + '_' + str(year) + '.png'
            
            try: 
                urllib.request.urlretrieve(url, filename)
            except urllib.error.HTTPError:
                continue