In [32]:
import csv
import os
import glob
import pandas as pd
import nltk
import string
import re
from nltk import ngrams
import multiprocessing
import time
import numpy as np

In [27]:
os.chdir("C://Users//Ruben//Documents//Scriptie//Data//tng-environment")
list_csv = glob.glob("*.csv")
list_csv = [s for s in list_csv if "unigram" in s]

In [28]:
df = pd.DataFrame()
for csv in list_csv:
    tmp = pd.read_csv(csv)
    df = df.append(tmp)

In [34]:
df = pd.pivot_table(df, values='count', index=['ngram'], columns=['year'], aggfunc=np.sum)
df['ngram'] = df.index

In [38]:
df.columns

Index([   1844,    1845,    1846,    1847,    1848,    1849,    1850,    1851,
          1852,    1884,    1885,    1886,    1887,    1888,    1889,    1890,
          1891,    1892,    1893,    1894,    1895,    1896, 'ngram'],
      dtype='object', name='year')

In [37]:
df[df.ngram == 'buitenlandsche']

year,1844,1845,1846,1847,1848,1849,1850,1851,1852,1884,...,1888,1889,1890,1891,1892,1893,1894,1895,1896,ngram
ngram,,,,,,,,,,,,,,,,,,,,,
buitenlandsche,215.0,410.0,398.0,754.0,712.0,944.0,870.0,591.0,490.0,276.0,...,344.0,346.0,295.0,256.0,304.0,386.0,306.0,513.0,478.0,buitenlandsche